<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.smartvalve.mapper.SvMapper">
    <select id="getValue"
            resultType="com.springboot.smartvalve.dto.SvDTO">
        select * from valve_status
        order by num desc limit 10;
    </select>

    <insert id="insertValue"
            parameterType="com.springboot.smartvalve.dto.SvDTO">
            insert into
                valve_status(
                sw1,sw2
                ,on_sw1,off_sw1
                ,on_sw2,off_sw2
                ,valve_time,cork_time,
                sw1_onLimit,sw2_onLimit
                )
        values (
                 #{sw1}, #{sw2}
                ,#{on_sw1}, #{off_sw1}
                ,#{on_sw2}, #{off_sw2}
                ,#{valve_time}, #{cork_time}
                ,#{sw1_onLimit},#{sw2_onLimit}
                )
    </insert>

    <update id="sw1_on"
            parameterType="com.springboot.smartvalve.dto.SvDTO">
		update
		valve_status
		set
		sw1 = 1,
		on_sw1=now(),
		sw1_onLimit=DATE_ADD(now(), INTERVAL 300 second )
		where num = #{num}
	</update>
    <update id="sw1_off"
            parameterType="com.springboot.smartvalve.dto.SvDTO">
		update
		valve_status
		set
		sw1 = 0,
		off_sw1=now(),
		valve_time = TIMESTAMPDIFF(SECOND, on_sw1, off_sw1),
		sw1_onLimit=null
		where num = #{num}
	</update>
    <update id="sw2_on"
            parameterType="com.springboot.smartvalve.dto.SvDTO">
		update
		valve_status
		set
		sw2 = 1,
		on_sw2=now(),
		sw2_onLimit=DATE_ADD(now(), INTERVAL 300 second )
		where num = #{num}
	</update>
    <update id="sw2_off"
            parameterType="com.springboot.smartvalve.dto.SvDTO">
		update
		valve_status
		set
		sw2 = 0,
		off_sw2=now(),
		cork_time = TIMESTAMPDIFF(SECOND, on_sw2, off_sw2),
		sw2_onLimit=null
		where num = #{num}
	</update>
    <select id="time_sw1"
            resultType="int"
            parameterType="com.springboot.smartvalve.dto.SvDTO">
        select
        TIMESTAMPDIFF(SECOND, on_sw1, off_sw1)
    	from valve_status
    	where num=#{num}

    </select>

	<select id="time_sw2"
			resultType="int"
			parameterType="com.springboot.smartvalve.dto.SvDTO">
        select
        TIMESTAMPDIFF(SECOND, on_sw2, off_sw2)
    	from valve_status
    	where num=#{num}

    </select>

	<select id="getThreadCount"
	resultType="int">
		select th_count from Thread_count;
	</select>

	<update id="updateThreadCount"
			parameterType="int">
		update Thread_count set th_count=#{num}
	</update>

</mapper>

