<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.smartvalve.mapper.SvMapper">
    <select id="getValue"
            resultType="com.springboot.smartvalve.dto.SvDTO">
        select * from valve_status;

    </select>
    <insert id="insertValue"
            parameterType="com.springboot.smartvalve.dto.SvDTO">
            insert into
                valve_status(
                sw1,sw2
                ,on_sw1,off_sw1
                ,on_sw2,off_sw2
                )
        values (
                 #{sw1}, #{sw2}
                ,#{on_sw1}, #{off_sw1}
                ,#{on_sw2}, #{off_sw2}
                );
    </insert>
    <update id="updateValue"
            parameterType="com.springboot.smartvalve.dto.SvDTO">

        UPDATE valve_status
            <trim prefix="SET" suffixOverrides=",">
                <if test="sw1 == 0">
                    sw1 = 1,
                    on_sw1 = SYSDATE,
                </if>
                <if test="sw1 == 1">
                    sw1 = 0,
                    off_sw1 = SYSDATE,
                </if>
                <if test="sw2 == 0">
                    sw2 = 1,
                    on_sw2 = SYSDATE,
                </if>
                <if test="sw2 == 1">
                    sw2 = 0,
                    off_sw2 = SYSDATE,
                </if>
            </trim>
        WHERE num=#{num}
    </update>

</mapper>

